<div class="modal-background">
  <div class="modal-frame">
    <div class="modal-title">
      
      {{!-- Edit card name  --}}
      {{#if isEditingName}}
        <form {{action 'toggleEditName' on="submit"}}>
          <div class="edit-card-name">{{input value=card.name placeholder="Card Name"}}</div>
          {{!-- {{input value=card.name placeholder="Card Name"}} --}}
        </form>
      {{else}}
        {{title}} <i {{ action 'toggleEditName'}} class="glyphicon glyphicon-pencil"></i>
      {{/if}}
    </div>

    {{!-- Edit Card Description --}}
    <div class="modal-body">
      {{#if isEditingDescription}}
        <form {{action 'toggleEditDescription' on="submit"}}>
          {{input value=card.description placeholder="Card Description"}}
        </form>
      {{else}}
        <div class="modal-description"><i {{ action 'toggleEditDescription'}} class="glyphicon glyphicon-align-left">Edit Description</i>
        <p id="card-description">{{body}}</p>
          
        </div>
      {{/if}}
    </div>
    <div class="modal-footer">
      <button {{action 'closeModal'}} type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button {{action 'deleteCard' card}} type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
    </div>
  </div>
</div>