<div class="row d-flex align-items-stretch list-col">

  <!-- Loop through each list -->
  {{#each trelloList as |list|}}
  <div class="col-md-3 d-flex flex-wrap">  
    <div class="card list-id-{{list.id}}" id="card-color">
      <strong> {{list.name}} </strong>
      <div class='pull-right' {{action 'deleteList' list}}>
        <span class='glyphicon glyphicon-remove' id="remove-icon-{{list.id}}" aria-hidden="true"></span>
      </div>
      {{trello-card list=list}}
      {{create-card list=list}}
    </div>   
  </div>
  {{/each}}

{{!-- Add a new list --}}
{{!-- TODO: Move this into it's own component --}}
  <div class="col-md-3 d-flex flex-wrap">  
    <div class="card" id="card-color">
      <div class="new-list-box">
        {{input
          type="text"
          id="new-list"
          placeholder="Add a list..."
          value=newList
          action="createList"
          class= "card-input"
        }}
      </div>
    </div>
  </div> 
</div>

